<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Il nostro progetto è in costruzione</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">In partenza!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Trovi il nostro sito ancora in costruzione, ma ci stiamo mettendo tutto il nostro impegno, quando la nostra avventura avrà inizio, assicurati di seguire il nostro viaggio, o preparati a farne parte!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4></br>Seguici!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>