<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Il nostro lavoro</h2>
                    <h3 class="section-subheading text-muted">Informazioni utili sul nostro modo di lavorare</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!--<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">L'origine dell'idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ci piaceva ridare nuova vita alle cose e quindi ci siamo detti, “perchè non farlo anche con la nostra vecchia bici, dandogli un nuovo abito”. Quindi la nostra idea è nata con il motto una bici per tutti, visto che tutti abbiamo una bici, perchè cambiarla, oppure non usarla più solo perché, è vecchia, oppure semplicemente rovinata?
                                        Da qui la scommessa che abbiamo voluto fare io e mio padre, essendo lui un artigiano falegname dal 1975, quando gli proposi di costruire un telaio di legno subito gli piacque l’idea.
                                        Quindi iniziai a studiare, e dopo circa tre anni di lavoro, e vari prototipi, alla fine siamo arrivati a questo risultato.
                                        Siamo orgogliosi del risultato ottenuto ed ancora di più siamo orgogliosi di riuscire a trasformare le vostre biciclette in oggetti che non tramonteranno mai, come il materiale di cui sono fatte!
                                </div>
                            </div>
                        </li>
                        -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_1.1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Made in Italy e km 0</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> I nostri telai Fibra sono realizzati in frassino nazionale km0, utilizziamo legno proveniente dall’Italia e da foreste certificate e sostenibili.
                                    </p>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fatta a mano</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ogni pezzo di legno è un materiale unico e va studiato e valutato in base alle sue caratteristiche, di modo che possa dare il meglio.
                                        Per questo i nostri telai sono fatti interamente a mano, rendendoli unici e irripetibili!
                                    </p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Come funziona?</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Ti aiutiamo a scegliere il modello che possa soddisfare le tue esigenze e </br>
                                        lo realizziamo in circa 5/6 settimane.</br>
                                        Se hai una bicicletta che vuoi sistemare, </br> portala a colloquio con noi, </br>  studieremo insieme il modo per rimetterla a nuovo.
                                    </p>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Il futuro</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Continuiamo a studiare modi diversi di impiego per realizzare sempre meglio i nostri modelli.
                                        Abbiamo già in mente prodotti futuri, e nuovi modelli per sorprenderti.
                                    </p>
                                </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4></br>Seguici!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>