<!-- About Section -->
    <section id="about"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Su di noi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!--<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">L'origine dell'idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ci piaceva l'idea ridare nuova vita alle cose e quindi ci siamo detti, “perchè non farlo anche con la nostra vecchia bici, dandogli un nuovo abito”. Quindi la nostra idea è nata con il motto una bici per tutti, visto che tutti abbiamo una bici, perchè cambiarla, oppure non usarla più solo perché, è vecchia, oppure semplicemente rovinata?
                                        Da qui la scommessa che abbiamo voluto fare io e mio padre, essendo lui un artigiano falegname dal 1975, quando gli proposi di costruire un telaio di legno subito gli piacque l’idea.
                                        Quindi iniziai a studiare, e dopo circa tre anni di lavoro, e vari prototipi, alla fine siamo arrivati a questo risultato.
                                        Siamo orgogliosi del risultato ottenuto ed ancora di più siamo orgogliosi di riuscire a trasformare le vostre biciclette in oggetti che non tramonteranno mai, come il materiale di cui sono fatte!
                                </div>
                            </div>
                        </li>
                        -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Esperienza</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Il nostro telaio porta con sé l’esperienza della lavorazione del legno di due generazioni, </br>
                                        la falegnameria come tradizione di famiglia dal 1975, combinata con la moderna visione dei telai delle biciclette fa nasce dall’idea di usare un materiale non convenzionale per i telai.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fatto a mano</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    Ogni pezzo di legno è un materiale unico e va studiato e valutato
                                    in base alle sue caratteristiche per dare il meglio. </br>
                                    Per questo i nostri telai sono fatti interamente a mano,
                                    rendendoli unici e irripetibili!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Personalizzazione</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Ogni telaio è unico e segue le linee della persona che la compra,
                                        per questo Fibra può essere modificata nella scelta dell’intreccio delle essenze,
                                        oppure colorata, in base al gusto e necessità. </br>
                                        Un’ulteriore personalizzazione è data dalla tecnologia NFC
                                        che installata su tutti i telai Fibra permette di collegare lo smartphone al telaio.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Evoluzione continua</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Continuiamo a studiare per realizzare </br>
                                        sempre al meglio i nostri modelli.</br>
                                        Abbiamo già in mente prodotti futuri, </br>
                                        e nuovi modelli per sorprenderti.
                                    </p>
                                </div>
                            </div>
                        </li>
                </div>
            </div>
        </div>
    </section>