  <footer>
        <div class="container">
            <div class="row">

                <ul class="list-inline social-buttons">
                <li><a href="https://www.facebook.com/Fibrabike-104698780919352/"><i class="fa fa-facebook"></i></a>
                <li><a href="https://www.instagram.com/Fibrabike/"><i class="fa fa-instagram"></i></a>
                    </ul>
                <div  style="alignment: center">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <!--  <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
