<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Perché telai in legno?</h2>
                    <h3 class="section-subheading text-muted">
                        Ho scelto questo materiale perché è un materiale vivo.</br>
                        Nella mia storia ho avuto modo di utilizzare bici, anche costose, per allenarmi e </br>
                        quando inizi a passare tanto tempo in sella si crea un rapporto davvero unico!
                        </br></br>
                        È come se diventasse un pezzo di te, un prolungamento del tuo stesso corpo, </br>
                        allora inizi a fare cose strane, forse anche un po' folli, </br>
                        come portarla in camera da letto pulirla e curarla come se fosse un animale domestico.</br>
                        </br></br>
                        Allo stesso modo la bici per un ciclista può dare momenti di dolore, rabbia o fastidio,</br>
                        ma anche trasmettere sensazioni uniche di felicità, soddisfazione, orgoglio, libertà, potenza ed euforia.</br>
                        </br></br>
                        Ho voluto realizzare il mio telaio in legno che con la sua ruvidità, consistenza, prestazione e storia </br>
                        chiude il cerchio a tutte le sensazioni che nascono in sella.
                        </br></br>
                        Essendo un materiale vivo, il legno è il filo conduttore che lega, lo spirito alla terra!</br>
                        Ho scelto di costruire la mia (e di chi lo desidera) compagna di viaggio, e di vita</br>
                        nel materiale più rispettoso e vivo che esiste in natura.
                        </br></br>
                        Ecosostenibile e immortale perché non passera mai di moda! </br>
                        Soprattutto in questo moderno e costante cambiamento sociale.</br>
                    </h3>
                </div>
            </div>
        </div>
    </section>