<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le nostre bici in legno</h2>
			   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-subheading text-muted"> Ho scelto questo materiale perché è un materiale vivo. </br>
                        Nella mia storia personale ho avuto modo di utilizzare bici, anche costose, per allenarmi e </br>
                        quando inizi a passare tanto tempo in sella si crea un rapporto davvero unico! </br>
                        </br>
                        È come se diventasse un pezzo di te, un prolungamento del tuo stesso corpo, </br>
                        allora inizi a fare cose strane, forse anche un po' folli, </br>
                        come portarla in camera da letto pulirla e curarla come se fosse un animale domestico.</br>
                        </br>
                        E proprio come un animale domestico può darti momenti di dolore rabbia, fastidio, </br>
                        proprio allo stesso modo la bici per un ciclista appassionato può dare sensazioni uniche </br>
                        come felicità, soddisfazione, orgoglio, libertà, potenza, euforia. </br>
                        </br>
                        Ho voluto realizzare il mio telaio con il legno con la sua ruvidità, consistenza, prestazione e storia </br>
                        chiude il cerchio a tutte le sensazioni che nascono in sella. </br>
                        </br>
                        Essendo un materiale vivo, il legno è il filo conduttore che lega, lo spirito alla terra! </br>
                        Ho scelto di costruire la mia (e di chi lo desidera) compagna di viaggio e di vita </br>
                        nel materiale più rispettoso e vivo che esiste in natura, </br>
                        ecosostenibile e immortale perchè non passera mai di moda!
                    </h3>
<!--                    <img class="img-responsive img-centered"  width="50%"  src="img/team/Matte-Fibra.jpg" alt="">-->
                </div>
            </div>
        </div>
    </section>