<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cosa facciamo?</h2>
			   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="section-subheading text-muted">Il nostro sogno è di utilizzare il legno come materiale per costruire biciclette 
</br> che siano pensate per essere in armonia con il corpo e l'ambiente. 
</br> 
</br> Una sfida per unire materiali lontani e inusuali per immaginare 
</br> un nuovo modo di fare il telaio, scolpirlo.
</br> 
</br> Impossibile? Continua a seguirci, ne vedrai delle belle!
</h3>
                </div>
            </div>
        </div>
    </section>