<!-- Team Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Come funziona</h2>
                </div>
            </div>
                <div>
                    <ol class="col-lg-12 text-center">
                        <li>
                            <span>1.</span>
                            <p class="lipar">Organizziamo un incontro e scegliamo insieme
                                </br> il modello che possa soddisfare le tue esigenze
                                </br> con un allestimento di serie
                            </p>
                        </li>
                        <li>
                            <span>2.</span>
                            <p class="lipar">Lo realizziamo esclusivamente per te
                                </br> in sole 5/6 settimane
                            </p>
                        </li>
                        <li>
                            <span>3.</span>
                            <p class="lipar">Consegna della bici (posta o consegna a mano)
                                </br>con starter pack*
                            </br><p class="liparitalic">*se richiesto</p>
                        </p>
                        </li>
                        <li>
                           <span class="ollioption">OPZIONE EXTRA</span>
                            <p class="lipar" align="center" >
                        Se hai un telaio che non ti entusiasma più e che vuoi cambiare, </br>
                        portalo a colloquio con noi, studieremo insieme quello più adatto a te.
                        </p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>